@keyframes animation-howto {
    0% {
    transform: translateX(-120%);
    }
}

@keyframes fill-like {
    0% {
        transform-origin: bottom;
        transform: scale(0);
        color: $color-primary;
    }
    66% {
        transform: scale(1.1);
        color: $color-primary;
    }
    100% {
        transform: scale(1);
        color: $color-primary;
    }
}

@keyframes loading-page {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0%{
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
    }
}