@keyframes animation-howto {
  0% {
    transform: translateX(-120%);
  }
}
@keyframes fill-like {
  0% {
    transform-origin: bottom;
    transform: scale(0);
    color: #9356DC;
  }
  66% {
    transform: scale(1.1);
    color: #9356DC;
  }
  100% {
    transform: scale(1);
    color: #9356DC;
  }
}
@keyframes loading-page {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes get {
  100% {
    transform: translateX(0px);
  }
}
@keyframes icon-rotation {
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", "montserrat";
  margin: 0;
}

h1, p, h2 {
  margin: 0;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 26px;
  font-weight: lighter;
  font-family: "shrikhand", "montserrat";
}

p {
  font-size: 21px;
}

ul a {
  text-decoration: none;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  font-size: 21px;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 0 10px 0;
}

.main {
  max-width: 768px;
  margin: auto;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1025px) {
  .main {
    max-width: 100%;
  }
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  animation: loading 3s 1 forwards;
}
.loading__spinner {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
}
.loading__spinner--1 {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 15px solid;
  border-radius: 50%;
  border-color: #FF79DA transparent #FF79DA transparent;
  animation: loading-page 1.5s infinite;
  animation-delay: -0.5s;
}
.loading__spinner--2 {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 15px solid;
  border-radius: 50%;
  border-color: #99E2D0 transparent #99E2D0 transparent;
  animation: loading-page 1.5s infinite;
  animation-delay: -0.25s;
}
.loading__spinner--3 {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 15px solid;
  border-radius: 50%;
  border-color: #9356DC transparent #9356DC transparent;
  animation: loading-page 1.5s infinite;
}

header {
  width: 100%;
  position: relative;
  box-shadow: 0px 1px 10px 0px #b1b1b1;
}
header a {
  text-decoration: none;
  color: black;
}

.logo {
  width: auto;
  height: 40px;
  display: block;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
}

.home {
  font-size: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.about {
  text-align: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.about__icon {
  margin: 0 30px 0 0;
}
.about__position {
  background-color: #e6e6e6;
  position: relative;
  z-index: -1;
  font-size: 21px;
  padding: 15px 0 15px 0;
}
.about__discover {
  background-color: #f2f2f2;
  padding: 50px 0 70px 0;
}
.about__discover p {
  margin: 15px 40px 0 40px;
  font-size: 21px;
}
.about__discover h1 {
  margin: 0 50px 0 50px;
}
.about__button {
  background-color: #9356DC;
  background-image: linear-gradient(#FF79DA, rgba(255, 255, 255, 0));
  width: 300px;
  color: #ffffff;
  padding: 20px 30px 20px 30px;
  font-size: 21px;
  margin: 30px auto 0 auto;
  border: none;
  border-radius: 32px 32px 32px 32px;
  box-shadow: 0px 6px 4px 3px #E3E3E3;
}
.about__button a {
  color: inherit;
}
.about__button:hover {
  transition: 1s;
  background-color: #ae80e5;
  box-shadow: 0px 6px 4px 3px #d4d4d4;
  cursor: pointer;
}

.howto {
  width: 90%;
  margin: 70px auto 70px auto;
}
.howto h1 {
  margin-bottom: 10px;
}
@media screen and (min-width: 1025px) {
  .howto__buttons {
    display: flex;
    justify-content: space-between;
  }
}
.howto__button {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  margin: 30px auto 30px auto;
}
@media screen and (min-width: 1025px) {
  .howto__button {
    font-size: 17px;
    margin: 30px 0 30px 0;
  }
}
.howto__button--number {
  background-color: #9356DC;
  padding: 5px 11px 5px 11px;
  border-radius: 50%;
  color: #ffffff;
}
@media screen and (min-width: 1025px) {
  .howto__button--number {
    font-size: 17px;
  }
}
.howto__button--about {
  width: 100%;
  margin-left: -15px;
  padding: 35px 0 35px 0;
  border-radius: 32px 32px 32px 32px;
  box-shadow: 0px 5px 10px 3px #E3E3E3;
  position: relative;
  z-index: -1;
  background-color: #fafafa;
}
@media screen and (min-width: 1025px) {
  .howto__button--about {
    padding-right: 30px;
  }
}
.howto__button--icon {
  margin: 0 35px 0 35px;
  color: gray;
  font-size: 24px;
}
@media screen and (min-width: 1025px) {
  .howto__button--icon {
    font-size: 17px;
    margin: 0 20px 0 30px;
  }
}

.restaurants {
  background-color: #f2f2f2;
  width: auto;
  padding: 70px 5% 70px 5%;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1025px) {
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  position: relative;
  background-color: #ffffff;
  margin: 20px auto 20px auto;
  border-radius: 15px 15px 0 0;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 48%;
  }
}
@media screen and (min-width: 1025px) {
  .card {
    width: 48%;
  }
}
.card__link {
  display: block;
  color: inherit;
}
.card__new {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: #99E2D0;
  padding: 8px 20px 8px 20px;
  font-size: 21px;
  font-weight: bold;
  color: #2c9c81;
  border-radius: 5px;
}
.card__img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card__img--1 {
  object-position: 0% 70%;
}
.card__img--2 {
  object-position: 0% 60%;
}
.card__img--3 {
  object-position: 0% 80%;
}
.card__img--4 {
  object-position: 0% 80%;
}
@media screen and (min-width: 1025px) {
  .card__img {
    height: 350px;
  }
}
.card__about {
  display: flex;
  background-color: #ffffff;
  padding: 20px 20px 20px 20px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 6px 4px 3px #E3E3E3;
}
.card__about--button {
  cursor: pointer;
  position: absolute;
  bottom: 11%;
  right: 5%;
}
@media screen and (min-width: 1025px) {
  .card__about--button {
    bottom: 8%;
  }
}
.card__about--icon--solid {
  font-size: 32px;
  background-color: #ffffff;
  color: transparent;
}
.card__about--icon--regular {
  font-size: 32px;
  color: black;
}

.fa-stack:hover > .card__about--icon--regular {
  color: #9356DC;
}
.fa-stack:active > .card__about--icon--solid {
  animation: fill-like 0.5s forwards;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  width: auto;
  padding: 10px 5% 20px 5%;
}
@media screen and (min-width: 1025px) {
  .footer {
    text-align: center;
  }
  .footer ul {
    display: flex;
    justify-content: space-between;
  }
}
.footer__icon {
  margin: 0 20px 0 0;
}

.menu__all {
  background-color: #f2f2f2;
  padding: 0px 20px 50px 20px;
}
@media screen and (min-width: 1025px) {
  .menu__all {
    display: flex;
  }
}
.menu__image {
  position: relative;
  z-index: 1;
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin: 0 0 -50px 0;
}
.menu__list {
  position: relative;
  z-index: 2;
  width: auto;
  background-color: #f2f2f2;
  margin: 0;
  padding: 50px 20px 50px 20px;
  border-radius: 50px 50px 0 0;
}
.menu__list__name {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu__list__name--text {
  font-weight: lighter;
  font-family: "shrikhand", "montserrat";
}

.choice h2 {
  text-transform: uppercase;
  margin: 0;
}
.choice h3 {
  font-family: "Roboto", "montserrat";
  font-weight: bold;
  margin: 0;
}
.choice__divider {
  height: 4px;
  width: 75px;
  background-color: #99E2D0;
}
.choice__meal {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 6px 4px 3px #E3E3E3;
  margin: 15px auto 15px auto;
  overflow: hidden;
}
.choice__meal:hover > .choice__meal--validation {
  animation: get 0.5s forwards;
}
.choice__meal--about {
  padding: 10px 10px 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.choice__meal--validation {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 140px;
  transform: translateX(83px);
}
.choice__meal--validation--price {
  font-weight: bold;
  padding: 0 30px 10px 0px;
}
.choice__meal--validation--icon {
  background-color: #99E2D0;
  color: #ffffff;
  font-size: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
