header {
    width: 100%;
    position: relative;
    box-shadow: 0px 1px 10px 0px #b1b1b1;
    a {
        text-decoration: none;
        color: black;
    }
}

.logo {
    width: auto;
    height: 40px;
    display: block;
    margin: 0 auto 0 auto;
    padding: 20px 0 20px 0;
}

.home {
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
}