.howto {
    width: 90%;
    margin: 70px auto 70px auto;
    h1 {
        margin-bottom: 10px;
    }
    &__button {
        display: flex;
        align-items: center;
        font-size: 21px;
        font-weight: bold;
        margin: 30px auto 30px auto;
        &--number {
            background-color: $color-primary;
            padding: 5px 11px 5px 11px;
            border-radius: 50%;
            color: $background;
        }
        &--about {
            width: 100%;
            margin-left: -15px;
            padding: 35px 0 35px 0;
            border-radius: 32px 32px 32px 32px;
            box-shadow: 0px 5px 10px 3px #E3E3E3;
            position: relative;
            z-index: -1;
            background-color: darken($color: $background, $amount: 2);
        }
        &--icon {
            margin: 0 35px 0 35px;
            color: darken($color: $background, $amount: 50);
            font-size: 24px;
        }
    }
}