.menu {
    &__image {
        position: relative;
        z-index: 1;
        height: 400px;
        width: 100%;
        object-fit: cover;
        margin: 0 0 -50px 0;
    }
    &__list {
        position: relative;
        z-index: 2;
        width: auto;
        background-color: darken($color: $background, $amount: 5);
        margin: 0;
        padding: 50px 20px 50px 20px;
        border-radius: 50px 50px 0 0;
        &__name {
            display: flex;
            justify-content: space-between;
            align-content: center;
            &--text {
                font-weight: lighter;
                font-family: "shrikhand", "montserrat";
            }
        }
        &__sections {
            @include desktop {
                display: flex;
            }
        }
        &--type {
            text-transform: uppercase;
        }
        &--divider {
            background-color: $color-tertiary;
            height: 4px;
            width: 75px;
        }
        &--choice {
            display: flex;
            width: auto;
            background-color: $background;
            border-radius: 15px 15px 15px 15px;
            margin: 10px auto 10px auto;
            overflow: hidden;
            &--inside {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex-grow: 1;
                min-width: 0;
                white-space: nowrap;
                div, span {
                    padding: 10px 10px 10px 10px;
                }
                &--about {
                    min-width: 0;
                }
                &--price {
                    transform: translateX(50px);
                }
            }
            &--buy {
                width: 50px;
                background-color: $color-tertiary;
                transform: translateX(50px);
                &--icon {
                    background-color: $background;
                    padding: 2px 2px 2px 2px;
                    margin: 25px 10px 25px 10px;
                    border-radius: 15px;
                    color: $color-tertiary;
                }
            }
        }
    }
}