.restaurants {
    background-color: darken($color: $background, $amount: 5);
    width: auto;
    padding: 70px 5% 70px 5%;
    &__cards {
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1025px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.card {
    position: relative;
    background-color: $background;
    margin: 20px auto 20px auto;
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 48%;
    }
    @media screen and (min-width: 1025px) {
        width: 48%;
    }
    &__link {
        display: block;
        color: inherit;
    }
    &__new {
        position: absolute;
        top: 5%;
        right: 3%;
        background-color: $color-tertiary;
        padding: 8px 20px 8px 20px;
        font-size: 21px;
        font-weight: bold;
        color: darken($color: $color-tertiary, $amount: 35);
        border-radius: 5px;
    }
    &__img {
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        &--1 {
            object-position: 0% 70%;
        }
        &--2 {
            object-position: 0% 60%;
        }
        &--3 {
            object-position: 0% 80%;
        }
        &--4 {
            object-position: 0% 80%;
        }
    }
    &__about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $background;
        padding: 20px 20px 20px 20px;
        border-radius: 0 0 15px 15px;
        box-shadow: 0px 6px 4px 3px #E3E3E3;
        &--button {
            position: absolute;
            bottom: 11%;
            right: 5%;
            background-color: $background;
            border: none;
        }
        &--icon {
            position: absolute;
            font-size: 32px;
            &:hover {
                color: $color-primary;
            }
            &--active {
                position: relative;
                cursor: pointer;
                font-size: 32px;
                opacity: 0;
                &:active {
                    opacity: 1;
                    color: $color-primary;
                }
            }
        }
    }
}