.restaurants {
    background-color: darken($color: $background, $amount: 5);
    width: auto;
    padding: 70px 5% 70px 5%;
    &__cards {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }
        @include desktop {
            display: flex;
            flex-wrap: wrap;
        }
        @include desktop-large {
            display: flex;
        }
    }
}

.card {
    position: relative;
    background-color: $background;
    margin: 20px auto 20px auto;
    border-radius: 15px 15px 0 0;
    @include tablet {
        width: 48%;
    }
    @include desktop {
        width: 48%;
    }
    @include desktop-large {
        width: 24%;
    }
    &__link {
        display: block;
        color: inherit;
    }
    &__new {
        position: absolute;
        top: 5%;
        right: 3%;
        background-color: $color-tertiary;
        padding: 8px 20px 8px 20px;
        font-size: 21px;
        font-weight: bold;
        color: darken($color: $color-tertiary, $amount: 35);
        border-radius: 5px;
    }
    &__img {
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        &--1 {
            object-position: 0% 70%;
        }
        &--2 {
            object-position: 0% 60%;
        }
        &--3 {
            object-position: 0% 80%;
        }
        &--4 {
            object-position: 0% 80%;
        }
        @include desktop {
            height: 300px;
        }
        @include desktop-large {
            height: 250px;
        }
    }
    &__about {
        display: flex;
        background-color: $background;
        padding: 20px 20px 20px 20px;
        border-radius: 0 0 15px 15px;
        box-shadow: 0px 6px 4px 3px #E3E3E3;
        &--button {
            cursor: pointer;
            position: absolute;
            bottom: 11%;
            right: 5%;
            @include desktop {
                bottom: 8%;
            }
            &:hover > .card__about--icon--regular {
                background: -webkit-linear-gradient($color-primary, $color-secondary);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:hover > .card__about--icon--solid {
                animation: fill-like 0.5s forwards;
            }
        }
        &--icon {
            &--solid {
                font-size: 32px;
                display: block;
                background: -webkit-linear-gradient($color-primary, $color-secondary);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
            }
            &--regular {
                font-size: 32px;
                display: block;
                color: black;
            }
        }    
    }
}

